.home *{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: arial, sans-serif;
}

div.home {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.home nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px;
	margin-top: 14px;
}



.home nav a{
    font-size: 13px;
	display: inline-block;
	line-height: 24px;
	font-weight: 400;
	color: rgb(0,0,0, 0.87);
	cursor: pointer;
	padding: 5px 6.7px
}
.home nav a:hover {
    opacity: .85;
    text-decoration: underline;
}

.home nav img{
    width: 40px;
    padding: 7px 7px;
	margin: auto 7px;
	cursor: pointer;
}
.home nav img:hover {
	background-color: #ececece5;
	padding: 7px 7px;
	border-radius: 30px;
}
.home nav button {
	border: 1px solid #4285f4;
	outline: none;
	background: #4285f4;
	color: #fff;
	padding: 7px 12px;
	border-radius: 3px;
	margin-left: 7px;
	cursor: pointer;
}

.home nav button:hover{
    box-shadow:0 0 3px #4285f4 ;
}


.home #main{
    flex: 1;
}

.home #main #logo{
    display: block;
	margin: 0px auto;
	margin-top: 107px;
}

.home #szukaj #szukaj-input:hover{
    border: 1px solid #fff;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.05), 
				0 0 2px rgba(0, 0, 0, 0.05),
				0 0 3px rgba(0, 0, 0, 0.05),
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05), 
				0 0 4px rgba(0, 0, 0, 0.05), 
				0 0 5px rgba(0, 0, 0, 0.05)
    
}

.home #szukaj{
    width: 580px;
	margin: 0px auto;
	position: relative;
	margin-top: -8px;
	text-align: center;
}

.home #szukaj #szukaj-input{
	display: block;
	border: 1px solid #ddd;
	padding: 13px;
	padding-left: 45px;
	border-radius: 25px;
	width: 100%;
    font-size: 16px;
	transition: box-shadow 100ms;
	outline: none;
	cursor: auto;

}

.home #szukaj #szukaj-ikona{
    width: 20px;
	opacity: .4;
	position: absolute;
	top: 13px;
	left: 14px;
}

.home #szukaj #mikrofon{
    width: 24px;
	position: absolute;
    cursor: pointer;
	top: 13px;
	right: 24px;
}


.home #szukaj #szukaj-w-google{
	border: 1px solid #f8f9fa;
	padding: 9px 15px;
	background-color: #f8f9fa;
	color: #3c4043;
	height: 36px;
    min-width: 54px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	margin-top: 30px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}

.home #szukaj #szukaj-w-google:hover{
    box-shadow: 0 0 3px rgba(172, 172, 172, 0.822);
}
.home #szczesliwy-traf{
    border: 1px solid #f8f9fa;
	padding: 9px 15px;
	background-color: #f8f9fa;
	color: #3c4043;
	height: 36px;
    min-width: 54px;
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
	text-align: center;
	margin-right: 10px;
	margin-top: 30px;
	outline: none;
	cursor: pointer;
	transition: border-color 100ms;
}

.home #szczesliwy-traf:hover{
    box-shadow: 0 0 3px rgba(172, 172, 172, 0.822);
}
.home footer{
    background: #f2f2f2;
}


.home footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 43px;
	font-weight: 400;
	padding-left: 29px;
	border: 1px solid #eee;
}

.home footer a {
	color: rgba(0,0,0, 0.54);
	display: inline-block;
	padding: 12px 11.3px;
	font-size: 14px;
	
}
.home footer a:hover {
	text-decoration: underline;
}

.home #stopka {
	border-top: 1px solid #ddd;
	display: flex;
	color: #70757a;
	padding: 5px 0px;
}

.home #lewa {
	padding-right: 18.7px;
	flex: 1;
	justify-content: flex-start;
    min-width: 40%;
    order: 1;
    
}

.home #centrum {
	padding-left: 18.7px;
	order: 2;
	flex: 1;
 

}

.home #centrum #listek{
	height: 15px;
	padding-right: 5px;
}

.home #prawa {
	padding-left: 18.7px;
	order: 3;
	justify-content: flex-end;
}

.home .top_nav {
	display: none;
}
.home .elementy_wyszukiwnia {
	display: none;
}
.home .wyniki_wyszukiwania {
	display: none;
}
.home .footer {
	display: none;
}

